.btn__containerWhite{
    padding: 18px 40px;
    background-color: rgb(33, 42, 47);
    width: fit-content;
    letter-spacing: 2px;
    font-size: 13px;
    border-radius: 3px;
    max-width: 120px;
    width: 100%;
    color: #fff;
    margin-bottom: 10px;
}

.btn__containerWhite:hover{
    background-color: #fff;
    color: rgb(33, 42, 47);
    /* box-shadow: rgb(51, 51, 51) 0 0 100px 10px; */
}

.btn__containerBlue{
    padding: 18px 40px;
    background-color: #fff;
    width: fit-content;
    letter-spacing: 2px;
    font-size: 13px;
    border-radius: 3px;
    max-width: 120px;
    width: 100%;
    color: rgb(33, 42, 47);
}

.btn__containerBlue:hover{
    background-color: rgb(33, 42, 47);
    color: #fff;
    box-shadow: rgb(51, 51, 51) 0 0 100px 10px;
}