.favorites{
    max-width: 1400px;
    width: 100%;
    margin: 50px auto;
}

.favorites__container{
    text-align: center;
    /* padding: 1rem; */
}

.favorites__main{
    max-width: 1200px;
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}