.header__left{
    display:flex;
    font-size: 13px;
}

.header__left>h3{
    padding-left: 10px;
}

.header__mid{
    width:110px;
    height:auto;
}

.header__mid > img{
    width: 100%;
    object-fit: contain;
}

.header__right{
    display:flex;
}

.header__container{
    display:flex;
    padding:15px;
    justify-content: space-between;
    align-items: center;
}

.header{
    position:fixed;
    left: 0;
    right: 0;
    background-color: #fff;
    z-index: 100;
    box-shadow: rgba(34, 34, 34, 0.473) 0 0 30px 0;
    color: rgb(33, 42, 47);
}

.link{
    display: flex;
    align-items: center;
    color: black;
    text-decoration: none;
    font-size: 18px;
    font-weight: 700;
    padding-left: 10px;
}

.logout__span{
    font-size: 15px;
    font-weight: 500;
    display: flex;
    align-items: center;
    cursor: pointer;
}