.ImageSlider {
    font-family: sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 750px;
  }
/* .image_container{
  display: flex;
  flex-direction: column;
  font-size:20px;
  width:360px;
  height: 450px;
} */
.heading{
  margin-top: 100px;
}  