.main__img>img{
    width:100%;
    height: 100%;
}

.main__content>h1{
    position:absolute;
    margin: auto;
    top: 40%;
    width: 95%;
    padding: 20px;
    display: flex;
    justify-content: center;
    color:#fff;
    font-size: 300%;
    text-align: center;
}

.mainbtn__1{
    position:absolute;
    margin:auto;
    top:70%;
    width:50%;
    display:flex;
    justify-content:space-evenly;
    text-align: center;
    padding-left: 24.8%;
}

#btn1{
    margin-right: 50px;
}

@media screen and (max-width: 980px) {
    .mainbtn__1{
        display: none;
    }
    
}

@media screen and (max-width: 800px) {

    .main__content>h1{
        font-size: 200%;
        top: 20%;
    }
}

