.testCard{
  margin: 20px;
  padding: 10px;
  box-shadow: 0 0 10px 2px rgba(33, 42, 47, 0.363);
  display: flex;
  flex-direction: column;
  font-size:3.4602076124567476vh;
  width:28.125vw;
  height: 77.85467128027682vh;
  margin-bottom: 5.190311418685121vh;
  justify-content: center;
  align-items: center;
}

.horizontal{
  display: flex;
  border: 1px solid black;
  padding: 9px;
}

.horizontal > .card__text{
  padding: 20px;
}

.horizontal > .card__text > .card__price{
  margin-bottom: 20px;
}

.testCard:hover{
  border: 1px solid rgb(33, 42, 47);
  padding: 9px;
}

.testCard > img{
  max-height: 51.90311418685121vh;
  max-width: 51.90311418685121vh;
}

@media screen and (max-width: 850px) {

  .horizontal{
    flex-direction: column;
  }
}